# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs and temp
*.log
dist/
.env


# Ignore Python cache and environments
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
ENV/

# Ignore site-packages folder (inside virtualenv)
site-packages/
